<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - PrimitiveSharp</title>
</head>
<body>
    <ul>
        <li><a asp-area="" asp-controller="Primitive" asp-action="Index">Main</a></li>
        <li><a asp-area="" asp-controller="Primitive" asp-action="Settings">Settings</a></li>
        <li><a asp-area="" asp-controller="Primitive" asp-action="Test">Test</a></li>
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - PrimitiveSharp</p>
        </footer>
    </div>
</body>
</html>